<div class="container">
  <div class="row">
    <div class="footer-main col-xs-12 col-sm-12">
      <img src="/images/dune-network-white-logo.png" />
    </div>
    <div class="footer-sub col-xs-12 col-sm-12" >
      <div class="row row-eq-height">
        <div class="footer-others col-xs-12 col-xs-offset-0 col-sm-2 col-sm-offset-2">
          <p>
            <a href="http://www.liquidity-lang.org/">
              <img class="inverse" src="/images/liquidity_icon.png" />
              Liquidity
            </a>
          </p>
          <p>
            <a href="https://dune.network/">
              <img src="/images/dune-icon-512.png" />
              Dune
            </a>
          </p>
        </div>

        <div class="footer-doc col-xs-12 col-sm-2">
          <p><a href="/api">API</a></p>
          <p><a href="/glossary">Glossary</a></p>
          <p><a href="/faq">FAQ</a></p>
          <!-- <p><a href="/news">News</a></p> -->
        </div>

        <div class="footer-legals col-xs-12 col-sm-2">
          <p><a href="/terms-of-services">Terms of Service</a></p>
          <p><a href="http://www.ocamlpro.com/mentions-legales/">Legal</a></p>
        </div>
        <div class="footer-logos col-xs-12 col-sm-3">
          <a href="https://twitter.com/tzscan">
            <img class="inverse" src="/images/twitter-logo.png" />
          </a>
          <a href="mailto:contact@tzscan.io">
            <img class="inverse" src="/images/contact-logo.png" />
          </a>
          <a href="http://www.ocamlpro.com/">
            <img class="inverse" src="/images/ocp-logo.png" />
          </a>
        </div>


      </div>
    </div>

    <div id="donation" class="col-xs-12"></div>

    <div id="copyright" class="col-xs-12">
      <p class="text-center">©2017-2019 OCamlPro ©2019-2020 OriginLabs</p>
    </div>
  </div>
</div>
